@font-face {
	font-family: 'Mermaid';
	src: url('media/Mermaid1001.ttf')
	}

/* The body is everything displayed in the main text delivery area */
  body {
	background: rgb(65, 58, 120, 0);
	/* background-image: url("media/officedaynew.JPG");
	background-repeat: no-repeat;
	background-size: cover; */
}  

html[data-tags~="officedaynew"] {
	background-image: url("media/officedaynew.JPG");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 100%;
}
html[data-tags~="officenightnew"] {
	background-image: url("media/officenightnew.JPG");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 100%;
}

html[data-tags~="officenightold"] {
	background-image: url("media/officenightold.JPG");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 100%;
}

html[data-tags~="jail"] {
	background-image: url("media/jail.JPG");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 100%;
}

html[data-tags~="militaryoffice"] {
	background-image: url("media/militaryoffice.JPG");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 100%;
}

html {
	background: rgb(65, 58, 120);
}

html[data-tags~="ballroom"] {
	background-image: url("media/ballroom.JPG");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 100%;
}

body[data-tags~="woodendoor"] {
	background-image: url("media/woodendoor.JPG");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 100%;
}


/* html[data-tags~="woodendoor"] {
	background-image: url("media/woodendoor.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
} */
	
.jail {
	background: rgb(88, 81, 94);
}

.passage {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
    border: 20px inset rgb(255, 255, 255);
	background-color:rgb(0, 0, 0, 0.75);
	font-family: 'Mermaid';
	font-size:20px;
}
a {
	color: rgb(190, 155, 67);
}

a:hover {
	color: rgb(223, 194, 121);
}

/*h1 {
	color:rgb(233, 229, 0);
	text-align: center;
	text-decoration-line: underline;

}

.palace {
	background-image: url("palace.jpg");
}

.statue {
	background-color: blueviolet;
}


/* This class is specific to the text in the passages
.passage {
    border: 1px solid red;
}
*/

/* This id is specific to the sidebar
#ui-bar {
	display: none;
}
*/

/* This id is specific to the header
#header {
	
}
*/

/* This id is specific to the footer
#footer {
	
}
*/

/* This class will override any styles on passages tagged "forest"
.forest {
	background: green;
}
*/