

/* The body is everything displayed in the main text delivery area */
 body {
	background: rgb(65, 58, 120);
} 

.flashback {
	background: rgb(45, 42, 66);
}
	
.jail {
	background: rgb(88, 81, 94);
}



/*h1 {
	color:rgb(233, 229, 0);
	text-align: center;
	text-decoration-line: underline;

}

.palace {
	background-image: url("palace.jpg");
}

.statue {
	background-color: blueviolet;
}


/* This class is specific to the text in the passages
.passage {
    border: 1px solid red;
}
*/

/* This id is specific to the sidebar
#ui-bar {
	display: none;
}
*/

/* This id is specific to the header
#header {
	
}
*/

/* This id is specific to the footer
#footer {
	
}
*/

/* This class will override any styles on passages tagged "forest"
.forest {
	background: green;
}
*/